<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PodiumFlight</string>
	<key>CFBundleExecutable</key>
	<string>Toki</string>
	<key>CFBundleIconFile</key>
	<string>Toki-Mustard</string>
	<key>CFBundleIdentifier</key>
	<string>jp.local.toki</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ja</string>
		<string>en</string>
		<string>zh-Hans</string>
		<string>ko</string>
	</array>
	<key>CFBundleName</key>
	<string>PodiumFlight</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.10</string>
	<key>CFBundleVersion</key>
	<string>33</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Mac全体のライト／ダーク外観を切り換えるために、System Eventsを操作します。</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SWNoteArticleURL</key>
	<string>https://note.com/swwwitch/m/m057948d2fbeb</string>
</dict>
</plist>
