<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CarmaChameleon</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Documents</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>org.idpf.epub-container</string>
				<string>com.adobe.pdf</string>
				<string>public.comma-separated-values-text</string>
				<string>public.tab-separated-values-text</string>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
				<string>com.adobe.illustrator.ai-image</string>
				<string>com.adobe.photoshop-image</string>
				<string>public.image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>idml</string>
				<string>indd</string>
				<string>srt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>InDesign Markup</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>CarmaChameleon</string>
	<key>CFBundleIconFile</key>
	<string>CarmaChameleon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>jp.local.PandocDesk</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ja</string>
		<string>en</string>
		<string>zh-Hans</string>
		<string>ko</string>
	</array>
	<key>CFBundleName</key>
	<string>CarmaChameleon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.1</string>
	<key>CFBundleVersion</key>
	<string>28</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>CarmaChameleon asks Keynote to create presentations, Illustrator to export .ai files, Photoshop to export .psd files, and InDesign to export .indd files when you choose those options.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SWNoteArticleURL</key>
	<string>https://note.com/swwwitch/m/m057948d2fbeb</string>
</dict>
</plist>
