<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PDF2Keynote</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PDF2Keynote</string>
	<key>CFBundleIconFile</key>
	<string>PDF2Keynote.icns</string>
	<key>CFBundleIdentifier</key>
	<string>jp.local.PDF2Keynote</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ja</string>
		<string>en</string>
		<string>zh-Hans</string>
		<string>ko</string>
	</array>
	<key>CFBundleName</key>
	<string>PDF2Keynote</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.3</string>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>PDF2Keynote asks Keynote to create a presentation and place each PDF page on a slide.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SWNoteArticleURL</key>
	<string>https://note.com/swwwitch/m/m057948d2fbeb</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 swwwitch</string>
	<key>SWAppFamily</key>
	<string>swwwitch</string>
</dict>
</plist>
