<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/swwwitch/macos-apps/releases/download/updates/CommandDee-appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>AGDw+iUZYWqNZtHKz1MnEavNP+W1l4171D2F94NCz6A=</string>
</dict>
</plist>
