<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/swwwitch/macos-apps/releases/download/updates/ExtensionLinker-appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>dqJYKFJsFv5jQVPOX+bT0FTst0w9mEhiB4h0Tzm9ZIk=</string>
</dict>
</plist>
