<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/swwwitch/macos-apps/releases/download/updates/IdBackgroundOff-appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>V/Xl+ZJeAHFcH9eYLSKDqoz5BbtXeiSENiOeR8+SzLs=</string>
</dict>
</plist>
