<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/swwwitch/macos-apps/releases/download/updates/QuickIconExporter-appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>I6Wz9VzJG1nkWlls4tcV4Z8LZmGXl7wk8AFqELNWWpg=</string>
</dict>
</plist>
