<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BundleIDInspector</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Application</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.application-bundle</string>
				<string>com.apple.bundle</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>BundleIDInspector</string>
	<key>CFBundleIconFile</key>
	<string>BundleIDInspector</string>
	<key>CFBundleIdentifier</key>
	<string>jp.dtp-transit.bundleidinspector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ja</string>
		<string>en</string>
		<string>zh-Hans</string>
		<string>ko</string>
	</array>
	<key>CFBundleName</key>
	<string>BundleIDInspector</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.7</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026</string>
	<key>SWNoteArticleURL</key>
	<string>https://note.com/swwwitch/m/m057948d2fbeb</string>
</dict>
</plist>
